/* src/styles/global.css */
:root {
  --accent: #867674;
  --border: #5194bb;
}
.globalCard {
  border:        1px solid var(--border);
  border-radius: 10px;
  padding:       16px;
}

.globalTitle {
  margin:      0 0 8px 0;
  color:       var(--accent);
  font-weight: 800;
}